
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
div {
    position: absolute;
}
.ball {
    border-radius: 50%;
    width: 100px;
    height:100px;

    top: 50%;
    left:50%;
}
.a {

    left: 35%;
}
.b {
    right: 35%;
}
#left_screen {
    background: white;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
}
#right_screen {
    background: aqua;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 100%;
}
